<!DOCTYPE html>
{{![if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]}}
{{![if gt IE 9]>{{!> <html class="no-js" lang="en"> {{!<![endif]}}
    <head>
        {{! Required --- don't touch! }}
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
        <title>LogDNA</title>

        <link rel="shortcut icon" href="ux/img/favicon.png">
        <link rel="apple-touch-icon" href="ux/img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="ux/img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="ux/img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="ux/img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="ux/img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="ux/img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="ux/img/icon152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="ux/img/icon180.png" sizes="180x180">

        {{! Bootstrap is included in its original form, unaltered }}
        <link rel="stylesheet" href="ux/css/bootstrap.min.css">
        {{! Related styles of various icon packs and plugins }}
        <link rel="stylesheet" href="ux/css/plugins.css">
        {{! The main stylesheet of this template. All Bootstrap overwrites are defined in here }}
        <link rel="stylesheet" href="ux/css/main.css">
        {{! Include a specific file here from css/themes/ folder to alter the default theme of the template }}
        {{! The themes stylesheet of this template (for using specific theme color in individual elements - must included last) }}
        <link rel="stylesheet" href="ux/css/themes.css">
        {{! Modernizr (browser feature detection library) }}
        <script src="ux/js/vendor/modernizr-3.3.1.min.js"></script>
        {{! End Required }}

        {{! Customized, project-specific CSS goes below. }}
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="page-wrapper" class="page-loading">
            {{! Preloader: Preloader functionality (initialized in js/app.js) - pageLoading() }}
            {{! Used only if the class 'page-loading' is added in #page-wrapper element (HTML version) }}
            <div class="preloader">
                <div class="inner">
                    {{! Animation spinner for all modern browsers }}
                    <div class="preloader-spinner themed-background hidden-lt-ie10"></div>
                    {{! Text for IE9 }}
                    <h3 class="text-primary visible-lt-ie10"><strong>Loading..</strong></h3>
                </div>
            </div>
            {{! END Preloader }}
            {{! Page Container }}
            <div id="page-container" class="header-fixed-top sidebar-visible-lg-full">
                {{! Alternative Sidebar }}
                <div id="sidebar-alt" tabindex="-1" aria-hidden="true">
                    {{! Toggle Alternative Sidebar Button (visible only in static layout) }}
                    <a href="javascript:void(0)" id="sidebar-alt-close" onclick="App.sidebar('toggle-sidebar-alt');"><i class="fa fa-times"></i></a>
                    {{! Wrapper for scrolling functionality }}
                    <div id="sidebar-scroll-alt">
                        {{! Sidebar Content }}
                        <div class="sidebar-content">
                            {{! Sidebar Section }}


                            <div class="sidebar-section">

                                <section class="user">
                                	<div class="user_options-container">
                                		<div class="user_options-text">
                                			<div class="user_options-unregistered">
                                				{{!-- <h2 class="user_unregistered-title">Don't have an account?</h2>
                                				<p class="user_unregistered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
                                				<button class="user_unregistered-signup" id="signup-button">Sign up</button> --}}
                                			</div>

                                			<div class="user_options-registered">
                                				{{!-- <h2 class="user_registered-title">Have an account?</h2>
                                				<p class="user_registered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
                                				<button class="user_registered-login" id="login-button">Login</button> --}}
                                			</div>
                                		</div>

                                		<div class="user_options-forms" id="user_options-forms">
                                			<div class="user_forms-login">
                                				<h2 class="forms_title">Login</h2>
                                				<form class="forms_form" id="signin" name="signin" method="post" action="signin">
                                					<fieldset class="forms_fieldset">
                                						<div class="forms_field">
                                							<input type="text" name="email" placeholder="Email" class="forms_field-input" required autofocus />
                                						</div>
                                						<div class="forms_field">
                                							<input name="password" type="password" placeholder="Password" class="forms_field-input" required />
                                						</div>
                                					</fieldset>
                                					<div class="forms_buttons">
                                						<input type="submit" value="Log In" class="forms_buttons-action">
                                					</div>
                                				</form>

                                			</div>
                                			<div class="user_forms-signup">
                                				<h2 class="forms_title">Sign Up</h2>
                                				<form class="forms_form" id="signup" name="signup" method="post" action="/signup">
                                					<fieldset class="forms_fieldset">
                                						<div class="forms_field">
                                							<input type="text" name="firstname" placeholder="First Name" class="forms_field-input" required />
                                						</div>
                                						<div class="forms_field">
                                							<input type="text" name="lastname" placeholder="Last Name" class="forms_field-input" required />
                                						</div>
                                						<div class="forms_field">
                                							<input type="email"name="email" placeholder="Email" class="forms_field-input" required />
                                						</div>
                                						<div class="forms_field">
                                							<input type="password" name="password" placeholder="Password" class="forms_field-input" required />
                                						</div>
                                					</fieldset>
                                					<div class="forms_buttons">
                                						<input type="submit" value="Sign up" class="forms_buttons-action">
                                					</div>
                                				</form>
                                			</div>
                                		</div>
                                	</div>
                                </section>

                            </div>
                            {{! END Sidebar Section }}
                        </div>
                        {{! END Sidebar Content }}
                    </div>
                    {{! END Wrapper for scrolling functionality }}
                </div>
                {{! END Alternative Sidebar }}
                {{! Main Sidebar }}
                <div id="sidebar">
                    {{! Sidebar Brand }}
                    <div id="sidebar-brand" class="themed-background">
                        <div class="sidebar-title">
                          <span class="sidebar-nav-mini-hide">lead<strong>Generator</strong></span>
                        </div>
                    </div>
                    {{! END Sidebar Brand }}
                    {{! Wrapper for scrolling functionality }}
                    <div id="sidebar-scroll">
                        {{! Sidebar Content }}
                        {{! Example Block }}
                        <div class="block">
                            {{! Example Title }}
                            <div class="block-title">
                                <h2 class="leadInfoHeader">Lead's Information</h2>
                                <div class="block-options pull-right">
                                  <!-- <a href="javascript:void(0)" class="btn btn-effect-ripple btn-default" data-toggle="tooltip" title="Settings"><i class="fa fa-cog"></i></a> -->
                                  <div class="btn-group">
                                    <a href="javascript:void(0)" class="btn btn-effect-ripple btn-default dropdown-toggle enable-tooltip" data-toggle="dropdown" title="Options">
                                      <i class="fa fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                      <li>
                                        <a href="javascript:void(0)">
                                          <i class="fa fa-pencil pull-right"></i>
                                          Edit
                                        </a>
                                      </li>
                                      <li>
                                        <a href="javascript:void(0)">
                                          <i class="fa fa-refresh pull-right"></i>
                                          Update
                                        </a>
                                      </li>
                                      <li class="divider"></li>
                                      <li>
                                        <a href="javascript:void(0)">
                                          <i class="fa fa-trash-o fa-fw pull-right"></i>
                                          Delete
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                            </div>
                            <!-- handlebars for email searches go in here  -->

                        </div>

                        <div class="sidebar-content">
                            <ul class="sidebar-nav">
                              {{!-- <li>
                                  {{name}}

                                  <button class="devour-it" data-id= "{{this.id}}"
                                  data-devoured= "{{this.devoured}}">DEVOUR!</button>

                              </li> --}}
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="main-container">
                    <header class="navbar navbar-inverse navbar-fixed-top">
                        <ul class="nav navbar-nav-custom">
                            <li>
                                <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
                                    <i class="fa fa-ellipsis-v fa-fw animation-fadeInRight" id="sidebar-toggle-mini"></i>
                                    <i class="fa fa-bars fa-fw animation-fadeInRight" id="sidebar-toggle-full"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav-custom pull-right">
                            <li>
                                <form id="search-form" method="get" class="navbar-form-custom" role="search">
                                    <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Search..">
                                    <input type="submit" name="submit" style="display: none;" />
                                </form>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar-alt');this.blur();">
                                  Login
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                    <p class="userName">Hi! {{ first_name }} </p>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-inbox fa-fw pull-right"></i>
                                            Log Out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </header>
                    <div id="page-content">
                      <div id="temporary-placeholder"></div>
                      {{{ body }}}
                    </div>
                </div>
            </div>
        </div>
        <script src="ux/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="ux/js/vendor/bootstrap.min.js"></script>
        <script src="ux/js/plugins.js"></script>
        <script src="ux/js/app.js"></script>
        {{! <script src="js/script.js"></script> }}
        <script>
          $(document).ready(function(e) {
            // ===
            // Load up saved emails when the page is loaded.
            // ===
            var initInterfaceData = function() {
              var containerElement = $('#temporary-placeholder');
              $.get('/api/emails').done(function(responseHTML) {                // GET call to fetch all emails. match the url with the one in your controller.
                containerElement.html(responseHTML);                            // responseHTML should be a partial handlebars template
              });
            };

            initInterfaceData();                                                // initialize the ux by calling our helper function

            // ===                                                              // add a header to your event bindings so it's more understandable
            // Search Form: submit
            // ===
            $(document).on("submit", "#search-form", function(event) {          // changed: use delegated event handling
              event.preventDefault();                                           // event.preventDefault() halts the form submission so we can do whatever we want in it's place

              var userSubmittedEmail = $("#top-search").val().trim();
              var url = "/api/search/" + userSubmittedEmail;                          // build the url with the encoded email address.

              $.get(url).done(function(data) {
                console.log("data in script.js: ", data);

                // do the stuff you need to do to render here

                // changed: note that this must be the last call within the scope of $.get
                // do not uncomment this until you are injecting HTML into the DOM.
                // it will only cause headaches and confusion if you try to uncomment it now.
                // location.reload();
              });
            });

            // ===
            // Add Result: When clicked, makes an AJAX request for saving emails
            // Assumes the following html:
            // <a href="" class=".add-search-result-button" data-email="{{ target.email }}">Add This to Center of Page</a>
            // ===
            $(document).on("click", ".add-search-result-button", function(event) {
              event.preventDefault();

              var emailToAdd = $(this).data('email');
              var url = "/api/search/" + encodedEmail;
              $.post(url).done(function(htmlResponse) {
                console.log(response);
              });
            });
          });
        </script>
    </body>
</html>
